<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include("../menu") -%>
        <h1>Hello Home Page</h1>
        <ul>
            <% products.forEach(function(product){ %>
                <li>
                    <h2>
                        <%= product.name %>
                    </h2>
                    <p>
                        <%= product.description %>
                    </p>
                    <p>
                        Price: <%= product.price %>
                    </p>
                </li>
            <% }); %>
        </ul>
</body>

</html>